body{
margin: 0px;
padding: 0;
background-color: mistyrose;

}

/*.wrapper{
  display: inline-block;
  text-align: center;

}*/

img{
  float: left;
  border: 3px solid black;
  background-size: cover;
  width: 500px;
  height: 500px;
  margin: 10px;
}

nav{
  text-align: center;
  clear: both;
}

nav li {
  /*color: rgb(255, 77, 77);*/
  font-size: 15px;
  /*text-align: center;*/
	display: inline-block;
  /*text-decoration: none;*/

/*why does font size work here and in selector a? but not color? */

}


a{
    text-decoration: none;
    color: indianred;
}
