body{
  background-image: url("../Images/geo.jpg");
  background-size: cover;
}
.header{
  width: 100%;
  padding: 5px;
  background-color: mediumaquamarine;
  margin-bottom: 250px;

}
h2{
  font-size: 45px;
  color: indianred;
  font-family: "Candara", sans-serif;

}

.main{
  text-align: center;
  margin-bottom: 250px;
}

li{
  list-style-type: none;
  display: inline-block;
}

.button{
  border: 3px solid mediumaquamarine;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 35px;
  color: indianred;
  background-color: mediumaquamarine;
}

nav{
  text-align: center;
}

nav li {
  /*color: rgb(255, 77, 77);*/
  font-size: 15px;
  /*text-align: center;*/
	display: inline-block;
  /*text-decoration: none;*/

/*why does font size work here and in selector a? but not color? */

}


  a{
    text-decoration: none;
    color: indianred;
  }
